@font-face {
  font-family: "Open Sans Condensed", sans-serif;
  src: url("../fonts/OpenSansCondensed-Light.woff2") format("woff2"), url("../fonts/OpenSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  height: 100%;
  box-sizing: border-box; }

.content-box-component {
  box-sizing: content-box; }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  color: #767676; }

img {
  height: auto; }

a {
  text-decoration: none; }

.container {
  margin: 0 auto;
  width: 1000px; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden; }

.body__index {
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  margin-bottom: 200px; }

.header {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  background-color: gainsboro; }

.header__content {
  padding: 36px 10px 65px 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap; }

.header__contacts {
  position: relative;
  flex-shrink: 0; }

.logo {
  padding-top: 29px;
  flex-shrink: 0;
  width: 273px;
  height: 129px; }

.logo__img {
  width: 273px;
  height: 100px; }

.contacts__tel {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0.025em;
  font-weight: 300;
  text-align: right; }

.contacts__link {
  position: absolute;
  top: 86px;
  right: 0;
  display: inline-block;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 0.025em;
  font-weight: 700;
  color: #767676;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed; }

.nav {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  background-color: #777777; }

.nav__list {
  margin: 0;
  padding: 0;
  padding: 18px 50px 25px 44px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  list-style: none; }

.nav__item {
  position: relative;
  padding-right: 23px; }

.nav__item--none {
  padding: 0; }

.nav__item::after {
  position: absolute;
  top: 8px;
  right: 0;
  content: "";
  width: 2px;
  height: 25px;
  background-color: white; }

.nav__item--none::after {
  display: none;
  padding-right: 0; }

.nav__link {
  position: relative;
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: white; }

.nav__link::before {
  position: absolute;
  bottom: 0;
  display: none;
  content: "";
  width: 100%;
  height: 1px;
  background-color: white; }

.nav__link:hover.nav__link::before {
  display: block; }

.nav--breadcrumbs {
  background: none; }

.nav__list--breadcrumbs {
  padding: 10px 10px;
  -webkit-box-pack: start;
          justify-content: flex-start; }

.nav__item--breadcrumbs {
  margin-right: 20px; }

.nav__item--breadcrumbs::after {
  display: none; }

.nav__item--breadcrumbs::before {
  position: absolute;
  bottom: 0;
  right: -10px;
  content: "/";
  color: #767676; }

.nav__link--breadcrumbs {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-decoration: underline;
  color: #767676; }

.nav__link--underline {
  text-decoration: none; }

.nav__item--before::before {
  display: none; }

.nav__list--footer {
  margin-right: 285px;
  padding: 0;
  width: 120px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.nav__item--footer {
  padding-right: 0; }

.nav__item--footer::after {
  display: none; }

.nav__link--footer {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff; }

.nav__link--footer::before {
  position: absolute;
  bottom: 5px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ffffff; }

.index__nav--breadcrumbs {
  margin-bottom: 5px; }

.slider__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-height: 462px; }

.slider__slides {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style-type: none; }

.slides__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0; }

.slides__item--active {
  opacity: 1; }

.slider__img {
  display: block; }

.slider__slider-controls {
  position: absolute;
  top: 0;
  left: 0; }

.slider-controls {
  width: 100%;
  height: 100%;
  background-color: rgba(248, 248, 248, 0.5); }

.slider-controls__prev {
  padding: 20px 12px;
  position: absolute;
  top: 30%;
  left: 20%;
  display: inline-block;
  width: 34px;
  height: 61px;
  background-color: #d1d1d1; }

.slider-controls__next {
  padding: 20px 2px;
  position: absolute;
  top: 30%;
  right: 20%;
  display: inline-block;
  width: 34px;
  height: 61px;
  background-color: #d1d1d1; }

.prev__arrow,
.next__arrow {
  padding: 9px;
  display: inline-block;
  border: solid black;
  border-width: 0 3px 3px 0; }

.prev__arrow--left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

.next__arrow--right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.catalog__wrapper {
  padding: 0 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.sidebar {
  width: 180px;
  height: 100%; }

.sidebar__list {
  margin: 0;
  padding: 0;
  margin-bottom: 102px;
  width: 181px;
  list-style: none; }

.sidebar__item {
  position: relative; }

.sidebar__link {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #767676; }

.sidebar__sublist {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style-type: disc; }

.sidebar__link--active {
  text-decoration: underline; }

.sublist__link {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #767676; }

.sublist__link--active {
  font-weight: 700;
  color: #010101;
  text-decoration: underline; }

.price-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center; }

.price-list__logo {
  margin-bottom: 4px; }

.price-list__text {
  margin: 0;
  font-size: 30px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #444444; }

.goods {
  width: 780px;
  height: 100%; }

.goods__list {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none; }

.goods__item {
  margin-right: 15px;
  margin-bottom: 20px;
  padding: 20px 20px 13px 20px;
  background-color: gainsboro; }

.goods__item--margin {
  margin-right: 0; }

.goods__title {
  margin: 0;
  margin-bottom: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 190px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #776677; }

.goods__price {
  margin-right: 58px;
  font-size: 28px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #444444; }

.goods__pagination {
  margin-bottom: 25px; }

.pagination {
  padding-bottom: 50px;
  border-bottom: 1px solid #444444; }

.pagination__list {
  margin: 0 auto;
  padding: 10px 10px;
  width: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  list-style: none; }

.pagination__link {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.565em;
  color: #776677; }

.pagination__link--active {
  font-size: 18px;
  color: #444444; }

.company-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.company-info__text {
  margin: 0;
  padding: 0;
  width: 370px; }

.footer {
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  background-color: #777777; }

.footer__content {
  padding: 45px 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.footer__address {
  margin-right: 150px; }

.address__text {
  margin: 0;
  width: 200px;
  font-style: normal;
  color: white; }

.address__link {
  display: inline-block;
  font-style: normal;
  color: white; }

.dev-info {
  display: -webkit-box;
  display: flex; }

.dev-info__logo {
  padding-top: 5px; }

.dev-info__img {
  margin-right: 10px;
  width: 36px;
  height: 38px; }

.dev-info__text {
  margin: 0;
  width: 180px;
  color: white; }

.dev-info__underline {
  text-decoration: underline;
  -webkit-text-decoration-color: white;
          text-decoration-color: white; }

.modal-wrapper {
  display: none;
  padding-top: 285px;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 110, 110, 0.5); }

.modal-wrapper--active {
  display: block;
  -webkit-animation: fade 1s;
          animation: fade 1s; }

.modal {
  position: relative;
  margin: 0 auto;
  padding: 32px 63px 26px;
  width: 466px;
  height: 578px;
  background-color: white; }

.modal__close {
  position: absolute;
  top: -27px;
  right: -27px;
  width: 27px;
  height: 27px;
  font-size: 0;
  background-color: #777777;
  border: 0;
  cursor: pointer; }

.modal__close::before,
.modal__close::after {
  position: absolute;
  top: 12px;
  right: 4px;
  content: "";
  width: 19px;
  height: 3px;
  background-color: #d0d0d0; }

.modal__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.modal__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.modal__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center; }

.modal__title {
  margin: 0;
  margin-bottom: 22px;
  padding: 2px 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #535353; }

.modal__content {
  margin-bottom: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center; }

.modal__label {
  padding: 1px 0;
  font-size: 14px;
  font-weight: 400;
  color: #535353; }

.modal__input {
  padding: 13px;
  width: 340px;
  height: 40px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #c3c3c3; }

.modal__input--height {
  height: 140px; }

.modal__input--invalid:invalid {
  border-color: #ff8383; }

.modal__input--invalid::-webkit-input-placeholder {
  font-style: italic;
  color: #dc7f7f; }

.modal__input--invalid::-moz-placeholder {
  font-style: italic;
  color: #dc7f7f; }

.modal__input--invalid:-ms-input-placeholder {
  font-style: italic;
  color: #dc7f7f; }

.modal__input--invalid::-ms-input-placeholder {
  font-style: italic;
  color: #dc7f7f; }

.modal__input--invalid::placeholder {
  font-style: italic;
  color: #dc7f7f; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.btn {
  padding: 5px 0;
  display: block;
  width: 128px;
  height: 42px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: #777777;
  border: 0; }
