.contacts__tel {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 1px;
  font-weight: 300;
}

.contacts__link {
  position: absolute;
  top: 86px;
  right: 0;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: rgba(118, 118, 118, 1);
}

.contacts__link::after {
  position: absolute;
  content: "";
  bottom: 8px;
  left: 0;
  width: 100%;
  border-bottom: 2px dashed rgba(118, 118, 118, 1);
}
