.contacts__tel {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0.025em;
  font-weight: 300;
  text-align: right;
}

.contacts__link {
  position: absolute;
  top: 86px;
  right: 0;
  display: inline-block;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 0.025em;
  font-weight: 700;
  color: rgba(118, 118, 118, 1);
  text-decoration: underline;
  text-decoration-style: dashed;
}
