.footer {
  flex: 1 0 auto;
  background-color: rgba(119, 119, 119, 1);
}


.footer__content {
  padding: 45px 10px;
  display: flex;
  justify-content: space-between;
}

.footer__address {
  margin-right: 150px;
}
