.goods {
  padding-left: 19px;
}

.goods__list {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.goods__item {
  margin-right: 15px;
  margin-bottom: 20px;
  padding: 20px 20px 13px 20px;
  background-color: rgba(220, 220, 220, 1);
}

.goods__item--margin {
  margin-right: 0;
}

.goods__title {
  margin: 0;
  margin-bottom: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 190px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: rgba(119, 102, 119, 1);
}

.goods__price {
  margin-right: 58px;
  font-size: 28px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: rgba(68, 68, 68, 1);;
}

.goods__pagination {
  margin-bottom: 25px;
}
