.header {
  flex: 0 0 auto;
  background-color: rgba(220, 220, 220, 1);
}

.header__content {
  padding: 36px 10px 65px 10px;
  display: flex;
  justify-content: space-between;
}

.header__contacts {
  position: relative;
  flex-shrink: 0;
}
