.modal {
  position: absolute;
  top: 285px;
  left: 481px;
  padding: 32px 63px 26px;
  width: 466px;
  height: 578px;
  background-color: rgba(255, 255, 255, 1);
}

.modal__close {
  position: absolute;
  top: -27px;
  right: 0;
  width: 27px;
  height: 27px;
  font-size: 0;
  background-color: rgba(119, 119, 119, 1);
  border: 0;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  position: absolute;
  top: 10px;
  right: 2px;
  content: "";
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}
