.nav {
  width: 100%;
  background-color: rgba(119, 119, 119, 1);
}

.nav__list {
  margin: 0;
  padding: 0;
  padding: 23px 38px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.nav__item {
  position: relative;
  padding-right: 23px;
}

.nav__link {
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.nav__item::after {
  position: absolute;
  top: 3px;
  right: 0;
  content: "";
  width: 2px;
  height: 30px;
  background-color: rgba(255, 255, 255, 1);
}

.nav__item--none::after {
  display: none;
  padding-right: 0;
}

.nav--breadcrumbs {
  background: none;
}

.nav__list--breadcrumbs {
  padding: 10px 10px;
  justify-content: flex-start;
}

.nav__item--breadcrumb {
  padding-right: 5px;
}

.nav__item--breadcrumb::after {
  display: none;
}

.nav__link--font {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  color: rgba(118, 118, 118, 1);
}
