.nav {
  flex: 0 0 auto;
  background-color: rgba(119, 119, 119, 1);
}

.nav__list {
  margin: 0;
  padding: 0;
  padding: 18px 50px 25px 44px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.nav__item {
  position: relative;
  padding-right: 23px;
}

.nav__item--none {
  padding: 0;
}

.nav__item::after {
  position: absolute;
  top: 8px;
  right: 0;
  content: "";
  width: 2px;
  height: 25px;
  background-color: rgba(255, 255, 255, 1);
}

.nav__item--none::after {
  display: none;
  padding-right: 0;
}

.nav__link {
  position: relative;
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: rgba(255, 255, 255, 1);
}

.nav__link:before {
  position: absolute;
  bottom: 0;
  display: none;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
}

.nav__link:hover.nav__link:before   {
  display: block;
}

.nav--breadcrumbs {
  background: none;
}

.nav__list--breadcrumbs {
  padding: 10px 10px;
  justify-content: flex-start;
}

.nav__item--breadcrumbs {
  margin-right: 20px;
}

.nav__item--breadcrumbs::after {
  display: none;
}

.nav__item--breadcrumbs::before {
  position: absolute;
  bottom: 0;
  right: -10px;
  content: "/";
  color: rgba(118, 118, 118, 1);
}

.nav__link--breadcrumbs {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-decoration: underline;
  color: rgba(118, 118, 118, 1);
}

.nav__link--underline {
  text-decoration: none;
}

.nav__item--before::before {
  display: none;
}

.nav__list--footer {
  margin-right: 285px;
  padding: 0;
  width: 120px;
  display: flex;
  flex-direction: column;
}

.nav__item--footer {
  padding-right: 0;
}

.nav__item--footer::after {
  display: none;
}

.nav__link--footer {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.nav__link--footer:before {
  position: absolute;
  bottom: 5px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
