.pagination {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(68, 68, 68, 1);
}

.pagination__list {
  margin: 0 auto;
  padding: 10px 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.pagination__link {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.565em;
  color: rgba(119, 102, 119, 1);
}

.pagination__link--active {
  font-size: 18px;
  color: rgba(68, 68, 68, 1);
}
