.slider-controls__prev {
  padding: 20px 12px;
  position: absolute;
  top: 155px;
  left: 210px;
  display: inline-block;
  width: 34px;
  height: 61px;
  background-color: rgba(209, 209, 209, 1);
}

.slider-controls__next {
  padding: 20px 2px;
  position: absolute;
  top: 155px;
  right: 210px;
  display: inline-block;
  width: 34px;
  height: 61px;
  background-color: rgba(209, 209, 209, 1);
}

.prev__arrow, .next__arrow {
  padding: 9px;
  display: inline-block;
  border: solid black;
  border-width: 0 3px 3px 0;
}

.prev__arrow--left {
  transform: rotate(135deg);
}

.next__arrow--right {
  transform: rotate(-45deg);
}
