.slider__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-height: 462px;
}

.slider__slider-controls {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__item--first {
  animation: fade 4s infinite;
}

.slider__item--second {
  animation: fade2 4s infinite;
}

.slider__img {
  display: block;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}

@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
