.sublist__link {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: rgba(118, 118, 118, 1);
}

.sublist__link--active {
  font-weight: 700;
  color: rgba(1, 1, 1, 1);
  text-decoration: underline;
}
