
@font-face {
  font-family: "Open Sans Condensed", sans-serif;
  src: url("../fonts/opensanscondensed-light-webfont.woff2"),
    url("../fonts/opensanscondensed-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
