@font-face {
  font-family: "Open Sans Condensed", sans-serif;
  src: url("../fonts/OpenSansCondensed-Light.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
