*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  color: rgba(118, 118, 118, 1);
}

img {
  height: auto;
}

a {
  text-decoration: none;
}
